section.account-security {
    .container {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-areas:
            'side' 'details';

        @include xl {
            gap: 5rem;
            grid-template-columns: auto 1fr;
            grid-template-areas: 'side details';
        }

        .details {
            grid-area: details;
            display: flex;
            flex-direction: column;
            gap: 2rem;

            #password-form {
                padding-bottom: 2rem;
                border-bottom: 1px solid var(--gray-500);
                label .optional {
                    @include text-xs;
                    color: var(--gray-500);
                    float: none;
                }
            }

            form fieldset {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                legend .h5 {
                    color: $theme;
                }
            }

            #delete-account-form {
                display: flex;
                justify-content: flex-start;
                gap: .5rem;

                input {
                    width: auto;
                    margin-right: .5rem;
                }

                label {
                    font-weight: 400;
                    color: var(--gray-700);
                }
            }

            .buttons-box {
                display: flex;
                gap: 1rem;
                margin-top: .5rem;;
                
                .btn-red {
                    @include button;
                    color: $white;
                    background-color: $danger;
                }
            }          
        }
    }
}
