section.course {
    .container {
        gap: 3rem;
    }

    .heading-box {
        position: relative;

        .heading-info {
            padding: 1.5rem;
            z-index: 99;
            .tags {
                display: flex;
                gap: .5rem;
            
                .bestseller {
                    color: var(--white);
                    background-color: $success;
                    padding: .125rem .5rem;
                    border-radius: 8px;
                }

                .category {
                    color: $black;
                    background-color: $gray-300;
                    padding: .125rem .5rem;
                    border-radius: 8px;
                }
            }
            .title {
                color: var(--white)
            }

            .info-box {
                .price-box {
                    .price {
                        flex: 0 1 auto;
                        color: $white;
                        font-weight: bold;
                        font-size: 1.5rem;
    
                        &.sale-new {
                            color: $white;
                        }
    
                        &.sale-old {
                            color: $gray-500;
                            font-weight: 500;
                            text-decoration: line-through;
                        }
                    }    
                }

                .details-box {
                    margin: 1rem 0;
                    .hours, .rating {
                        color: var(--white);
                    }
                }
            }

            .author-box {
                margin-top: 3rem;
                color: var(--white);

                .h6 {
                    color: var(--white);
                }
            }
            
        }
        img.bg {
            position: absolute;
            top: 0;
            left: 0;
            filter: brightness(50%);
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    

   .content-box {
    padding: 1.5rem;

    .content {
        margin-top: 1rem;
    }
   }
}
