section.courses {
    .container {
        gap: 3rem;
    }

    .heading-box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .input-box {
            display: flex;
            gap: 1rem;

            #category-filter select {
                @include select;
            }

            #search {
                position: relative;

                i {
                    position: absolute;
                    right: .5rem;
                    top: 30%;
                    color: var(--gray-800);
                }
            }
        }
    }

    .grid-box {
        display: grid;
        gap: 2rem;
        grid-template-columns: 1fr;

        @include md {
            grid-template-columns: 1fr 1fr;
        }

        @include lg {
            grid-template-columns: 1fr 1fr 1fr;
        }

        .grid-item {
            @include transition;
            @include shadow-s;
            position: relative;
            border-radius: 8px;

            &:hover {
                @include shadow-l;
                /*scale: 1.01;*/

                .content .text-box p.h5 {
                    text-decoration: underline;
                }
            }

            .content {
                text-decoration: none;
                display: flex;
                flex-direction: column;
                height: 100%;
                gap: .5rem;

                img {
                    border-radius: 8px 8px 0 0;
                    max-height: 300px;
                    width: 100%;
                    object-fit: cover;
                }

                .text-box {
                    flex: 1 1 auto;
                    display: flex;
                    flex-direction: column;
                    gap: .5rem;
                    padding: 0 1rem 1rem 1rem;

                    p.h5 {
                        flex: 1 1 auto;
                    }

                    .price {
                        flex: 0 1 auto;

                        font-weight: bold;

                        &.sale-new {
                            color: $danger;
                        }

                        &.sale-old {
                            color: var(--gray-500);
                            font-weight: 500;
                            text-decoration: line-through;
                        }
                    }

                    .info-box {
                        flex: 0 1 auto;
                        display: flex;
                        gap: 1rem;
                        padding-top: 1rem;
                        border-top: 1px solid var(--gray-300);

                        .hours, .rating {
                            color: var(--gray-600);
                        }
                    }
                }
            }

            .tag {
                position: absolute;
                top: 1rem;
                left: 1rem;
                color: var(--white);
                background-color: $success;
                padding: .25rem .5rem;
                border-radius: 8px;
            }

            .bookmark {
                @include transition;
                position: absolute;
                top: 1rem;
                right: 1rem;
                background-color: var(--white);
                height: 2.25rem;
                width: 2.25rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    display: block;
                    color: var(--gray-800);
                    font-size: 18px;
                }

                &:hover {
                    background-color: $theme;

                    i {
                        color: var(--white);
                    }
                }
            }
        }
    }
}
