$max-width: 1296px;

.html, .body {
    @include standard-text;
    font-size: 16px;
    margin: 0px;
    min-width: 420px;
    background-color: var(--white);
}

.body-wrapper {
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.header, .footer, .section .container {
    padding: 0 1rem;
}

.section {
    background-color: var(--white);
    padding: 5rem 0 7rem 0;
}

.text-xs { @include text-xs; }
.text-s { @include text-s; }
.text-m { @include text-m; }
.text-lg { @include text-lg; }
.text-xl { @include text-xl; }
.text-lead { @include text-lead; }

.d1 { @include d1; }
.d2 { @include d2; }
.d3 { @include d3; }
.d4 { @include d4; }
.d5 { @include d5; }
.d6 { @include d6; }

h1, .h1 { @include h1; }
h2, .h2 { @include h2; }
h3, .h3 { @include h3; }
h4, .h4 { @include h4; }
h5, .h5 { @include h5; }
h6, .h6 { @include h6; }

.form-label { 
    @include text-m; 
    font-weight: bold;
    color: var(--gray-900);
}

.w-full {
    width: 100dvw;

    @include lg {
        width: 100dvw;
    }
}

.w-max {
    width: 100%;

    @include lg {
        max-width: $max-width;
    }
}

.w-half {
    width: 100%;

    @include lg {
        max-width: 50%;
    }
    
}

.d-flex {
    display: flex;

    &.column {
        flex-direction: column;
    }

    &.center {
        justify-content: center;
        align-items: center;
    }
}

.d-none { display: none; }

@mixin transition {
    transition: all .3s ease-in-out;
}